In [1]:
import pandas as pd
import seaborn as sns

# (Min/Max scaling)/Normalization

In [2]:
from sklearn.preprocessing import MinMaxScaler #Import MinMaxScaler

In [3]:
mms = MinMaxScaler()# Creating Object

In [4]:
df = pd.read_csv("Rent Data.csv")#For to read the CSV file

In [5]:
#Fit
mms_fit = mms.fit(df[["area"]])
mms_fit

MinMaxScaler()

In [6]:
#Transform
df['area'] = mms.transform(df[["area"]])
df.head()

       area   rent
0  0.347826  31500
1  0.391304  35000
2  0.565217  41050
3  0.456522  36100
4  0.782609  52100

In [7]:
#At a time fit and transform for "Area"
df["area"] =  mms.fit_transform(df[["area"]])
df.head()

       area   rent
0  0.347826  31500
1  0.391304  35000
2  0.565217  41050
3  0.456522  36100
4  0.782609  52100

In [8]:
#At a time fit and transform for "Rent"
df["rent"] = mms.fit_transform(df[["rent"]])
df.head()

       area   rent
0  0.347826  0.230
1  0.391304  0.300
2  0.565217  0.421
3  0.456522  0.322
4  0.782609  0.642

# Standard Scaling

In [9]:
from sklearn.preprocessing import StandardScaler  #Import Standard Scaler

In [10]:
ss = StandardScaler() #Creating Object

In [11]:
df2 = pd.read_csv("Rent Data.csv")# For to read CSV file 
df2.tail()

    area   rent
24  2800  50000
25  3100  53000
26  2750  48000
27  1800  25000
28  2200  31460

In [12]:
ss_fit = ss.fit(df2[["area"]])#Fit
ss_fit

StandardScaler()

In [13]:
df2["area"] = ss.transform(df2[["area"]])#Transform
df2.tail()

        area   rent
24  1.035467  50000
25  1.609992  53000
26  0.939712  48000
27 -0.879618  25000
28 -0.113584  31460

In [14]:
#At a time fit and transform for "Area"
df2["area"] = ss.fit_transform(df2[["area"]])
df2.tail()

        area   rent
24  1.035467  50000
25  1.609992  53000
26  0.939712  48000
27 -0.879618  25000
28 -0.113584  31460

In [15]:
#At a time fit and transform for "Rent"
df2['rent']= ss.fit_transform(df2[['rent']])
df2.tail()

        area      rent
24  1.035467  1.154379
25  1.609992  1.414806
26  0.939712  0.980761
27 -0.879618 -1.015844
28 -0.113584 -0.455058

# Robust Scaling

In [16]:
from sklearn.preprocessing import RobustScaler #Import Robust Scaler

In [17]:
rs = RobustScaler() #Creating Object

In [18]:
df3 = pd.read_csv("Rent Data.csv")#For to read the CSV file
df3.tail()

    area   rent
24  2800  50000
25  3100  53000
26  2750  48000
27  1800  25000
28  2200  31460

In [19]:
rs_fit = rs.fit(df3[["area"]])#Fit
rs_fit

RobustScaler()

In [20]:
df3["area"] = rs.transform(df3[["area"]])#Transform
df3.tail()

      area   rent
24  0.8625  50000
25  1.2375  53000
26  0.8000  48000
27 -0.3875  25000
28  0.1125  31460

In [21]:
#At a time fit and transform for "Area"
df3["area"] = rs.fit_transform(df3[["area"]])
df3.tail()

      area   rent
24  0.8625  50000
25  1.2375  53000
26  0.8000  48000
27 -0.3875  25000
28  0.1125  31460

In [22]:
#At a time fit and transform for "Rent"
df3["rent"] = rs.fit_transform(df3[["rent"]]) 
df3.tail()

      area     rent
24  0.8625  0.99375
25  1.2375  1.18125
26  0.8000  0.86875
27 -0.3875 -0.56875
28  0.1125 -0.16500

# Max Absolute Scaling

In [23]:
from sklearn.preprocessing import MaxAbsScaler #Import MaxAbsScaler

In [24]:
mas = MaxAbsScaler() #Creating Object

In [25]:
df4 = pd.read_csv("Rent Data.csv") # For to read the CSV file
df4.tail()

    area   rent
24  2800  50000
25  3100  53000
26  2750  48000
27  1800  25000
28  2200  31460

In [26]:
mas_fit = mas.fit(df4[["area"]]) #Fit
mas_fit

MaxAbsScaler()

In [27]:
df4["area"] = mas.transform(df4[["area"]]) #Transform
df4.tail()

        area   rent
24  0.800000  50000
25  0.885714  53000
26  0.785714  48000
27  0.514286  25000
28  0.628571  31460

In [28]:
#At a time fit and transform for "Area"
df4["area"] = mas.fit_transform(df4[["area"]])
df4.tail()

        area   rent
24  0.800000  50000
25  0.885714  53000
26  0.785714  48000
27  0.514286  25000
28  0.628571  31460

In [29]:
#At a time fit and transform for "Rent"
df4["rent"] = mas.fit_transform(df4[["rent"]])
df4.tail()

        area      rent
24  0.800000  0.714286
25  0.885714  0.757143
26  0.785714  0.685714
27  0.514286  0.357143
28  0.628571  0.449429

# That's All, Thank You! :-)